
  <nav class="navbar navbar-light alert-primary position-fixed w-100 header-index">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../../assets/img/home/letters.png" alt="">
    </a>
    <button class="btn btn-outline-info"> Notifications</button>
  </nav>

  <div class="card position-fixed w-100 header-index search">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                <a class="dropdown-item" href="#">Soup</a>
                <a class="dropdown-item" href="#">Breakfast</a>
                <a class="dropdown-item" href="#">Desserts</a>
              </div>
            </div>
          </div>
          <div class="col">
            <form class="form-inline my-2 my-lg-0" style="margin-left: 55%;">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

