<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <br>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <br>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="card-group" id="second-row">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/soup1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <br>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/soup1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/soup1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/soup1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="card-group" id="third-row">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/carousel3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <br>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/carousel3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/carousel3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/home/carousel3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">By: Joseph John Magallon</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
