<div class="container-fluid">
  <!-- sidebar -->
  <div class="row">
    <div class="bg-custom-sidebar position-fixed custom-style-sidebar" *ngIf="showSideBar == true">
      <p class="text-right px-2 text-white" (click)="toggleSidebar()"><i class="fa fa-times custom-style-x"></i></p>
      <div class="row">
        <div class="col-md-6 ml-2">
          <div class="img-container ml-5">
            <!-- image here -->
          </div>
          <span class="text-white text-center custom-align ml-5">Kyla</span><br>
          <small class="text-white text-center custom-align ml-5">chef</small>
        </div>
      </div>
      <hr class="bg-light">

      <div class="container">
        <!-- navigations -->
        <span class="btn-custom border navigation-items"  routerLink="/viewrecipes"><i class="fa fa-columns pr-2 ml-4"></i>My Recipe</span>
        <span class="btn-custom border navigation-items"><i class="fa fa-users pr-2 ml-4"></i>My Bookmarks</span>
        <span class="btn-custom border navigation-items"><i class="fa fa-sign-out pr-2 ml-4"></i>Log Out</span>
      </div>
    </div>

    <!-- ghost nav -->
    <div class="bg-custom-sidebar position-fixed custom-style-sidebar-ghost" style="height: 60.25rem;">
      <p class="text-center text-white" (click)="toggleSidebar()"><i class="fa fa-bars custom-style-x"></i></p>

      <div class="row">
        <div class="col-md-12 ml-3">
          <div class="img-container-ghost">
            <!-- image here -->
          </div>
        </div>
      </div>
      <hr class="bg-light">

      <div class="container">
        <!-- navigations -->
        <span class="btn border navigation-items" routerLink="/viewrecipes"><i class="fa fa-columns "></i></span>
        <span class="btn border navigation-items"><i class="fa fa-users "></i></span>
        <span class="btn border navigation-items"><i class="fa fa-sign-out"></i></span>
      </div>
    </div>
  </div>
 
</div>
