<!-- <img src="../../../../assets/img/home/carousel4.jpg" alt=""> -->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
      <img class="highlightImg" src="../../../../assets/img/home-user/pancakes.jpg">
    </div>
    <div class="col-sm-4" style="margin-left: -10%;">
      <!-- <div class="text-center"> -->
        <h4>Low Carb Riccota and Lemon Pancakes</h4> <br>
        <p>Adding in ricotta cheese makes low-carb coconut flour pancakes fluff up higher. With the added lemon flavor, there’s no need to top them off with butter or syrup. They taste great plain!</p>
      <!-- </div> -->
    </div>
  </div>
</div>
