<!-- <img src="../../../../assets/img/home/carousel4.jpg" alt=""> -->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
      <img class="highlightImg" src="../../../../assets/img/home-user/pancakes.jpg">
    </div>
    <div class="col-sm-4" style="margin-left: -10%;">
      <!-- <div class="text-center"> -->
      <h3><i>Low Carb Riccota and Lemon Pancakes</i></h3> <br>
      <p class="paragraph">Adding in ricotta cheese makes low-carb coconut flour pancakes fluff up higher. With the
        added lemon flavor, there’s no need to top them off with butter or syrup. They taste great plain!</p>
      <span><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> 15 mins preparation + 20 mins cooking time | Easy</span>
    </div>
  </div>
</div>
<hr class="my-4">
<h4>You might also like...</h4><br>
<div class="card-columns">
  <div class="card" routerLink="/recipes/dessert">
    <img class="card-img-top" src="../../../../assets/img/home-user/blueberry.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Blueberry and Jersey Milk Ice Cream</h5>
      <p class="card-text">This ice-cream cake recipe by Phoebe Wood is a do-gooder dessert made with beautifully sweet
        blueberries and creamy jersey milk.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../../assets/img/home-user/coconut.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Coconut and Pepita Chocolate Rounds<Title></Title>
      </h5>
      <p class="card-text">Have a stash of these seeded chocolate rounds ready to go and you'll neve rbe caught in a
        3pm slump.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <div class="card-footer">
        <button class="btn btn-outline-success">See more...</button>
      </div>
    </div>
  </div>
  <!-- <div class="card border-primary text-white">
    <img src="../../../../assets/img/home/carousel4.jpg" style="height:60%; width:100%">
  </div> -->
  <div class="card p-3 text-right">
      <div class="card-header">
        <h5>No-noodles chicken Soup</h5>
      </div>
      <div class="card-body">
        <img class="card-img" src="../../../../assets/img/home-user/ChickenSoup.jpg" alt="">
        <p>Made with healing bone broth, this keto chicken no-noodle soup with healthy cabbage is warm and comforting
          when it’s cold outside, when you’re fighting a cold, or you just crave a hearty soup!</p>
      </div>
    </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Tuna Stuffed Avocado</h5>
      <p class="card-text">Looking for a healthy breakfast with no eggs? Grab a spoon and dig into this quick and easy
        budget-friendly keto breakfast that will keep you satisfied for hours!</p>
      <img class="card-img" src="../../../../assets/img/home-user/avocado.jpg" alt="">
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button class="btn btn-outline-success">See More...</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">Spicy Shrimp Salad</h5>
      <p>Get your heat on with this piquant salad that will surely awaken your senses and tease those hungry taste
        buds!</p>
    </div>
    <img class="card-img" src="../../../../assets/img/home-user/salad.jpg" alt="Card image">
    <button class="btn btn-outline-success m-3">See More...</button>
  </div>
 
  <!-- <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div> -->
</div>