.jumbotron{
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.highlightImg{
    height: 90%;
    width: 80%;
}
.paragraph{
    font-size: 18px;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    background-color: gray;
    opacity: 80%;
    position: absolute;
    width: 19rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }