<nav class="navbar navbar-light alert-primary position-fixed w-100 header-index">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../../../../assets/img/home/letters.png" alt="">
  </a>
  <div class="border float-right">
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group-append mr-3">
        <div class="dropdown">

          <button *ngIf="!cookie" class="btn btn-outline-success my-2 mx-2 my-sm-0" routerLink="/login" >Login</button>
          <button *ngIf="!cookie" style="margin-right: 5px;" class="btn btn-outline-info my-2 my-sm-0" routerLink="/register">Register</button>

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownCategory">
            <a class="dropdown-item" href="/recipes/category/soup">Soup</a>
            <a class="dropdown-item" href="/recipes/category/breakfast">Breakfast</a>
            <a class="dropdown-item" href="/recipes/category/desert">Desserts</a>
          </div>
        </div>
      </div>
      <div class="search-bar">
        <input class="form-control mr-sm-2" id="searchItem" type="search" #item (keyup)="onKey(item.value)" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
        <div class="search-result-container">
          <p *ngFor="let value of values" class="search-result">{{value.name}}</p>
        </div>
      </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent"
    aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation" (click)= "toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse p-3" id="navBarContent" *ngIf = "showNavbar == true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Category
        </button>
        <br><br>
        <div class="dropdown-menu w-75" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/recipes/category/soup">Soup</a>
          <a class="dropdown-item" href="/recipes/category/breakfast">Breakfast</a>
          <a class="dropdown-item" href="/recipes/category/desert">Desserts</a>
        </div>
      </li>
    </ul>
    <br>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control w-75 mr-sm-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</nav>

