<nav class="navbar navbar-light alert-primary position-fixed w-100 header-index">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../../../../assets/img/home/letters.png" alt="">
  </a>
  <button class="btn btn-outline-info"> Notifications</button>
</nav>

<div class="card position-fixed w-100 header-index search">
  <div class="card-header">
    <div class="row">
      <div class="col">
      </div>
      <div class="col" style="margin-left: 35%;">
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group-append mr-3">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownCategory"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                <a class="dropdown-item" href="/recipes/category/soup">Soup</a>
                <a class="dropdown-item" href="/recipes/category/breakfast">Breakfast</a>
                <a class="dropdown-item" href="/recipes/category/desert">Desserts</a>
              </div>
            </div>
          </div>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>