.logo{
    height: 5rem;
    width: 15rem;
}

.header-index {
    z-index: 3;
    height: 100px;
}
.search {
    top: 100px;
}

/* 
.search-bar{
    max-width: 150px;
    position: relative;
} */
.navbar-collapse{
    margin-left: 70%;
}
.navbar-collapse{
    background-color: #4981CE;
}
/*sample css for search bar*/
