.logo{
    height: 5rem;
    width: 15rem;
}

.header-index {
    z-index: 3;
    height: 100px;
}
.search {
    top: 100px;
}
/* .navbar-collapse{
    background-color:#89cff0 ;
} */
/*sample css for search bar*/