<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-custom-header border position-fixed main-header">
    <a class="navbar-brand" href="#"><strong>CookingTech</strong></a>
    <a class="navbar  navbar-light " style="margin-left:6%;color:white;" href="" routerLink="/home"><strong>Home</strong></a>
    <a class="navbar navbar-light " style="margin-left:1px;color:white;" href="#" routerLink="/recipes"><strong>Recipes</strong></a>
  </nav>

  <div class="container-fluid">
    <div class="row h-100">

      <div class="bg-custom-sidebar h-100 position-fixed custom-style-sidebar" *ngIf="showSideBar == true">
        <p class="text-right px-2 text-white" (click)="toggleSidebar()"><i class="fas fa-bars"></i></p>
        <div class="row">
          <div class="col-md-6 ml-2">
            <div class="img-container ml-5" style="background-image:url(../../../../assets/img/default.png);background-size: cover;" routerLink="/user-profile">
              <!-- image here -->
            </div>
            <span class="text-white text-center custom-align ml-5">{{authenticatedUser.username}}</span><br>
            <small class="text-white text-center custom-align ml-5">{{authenticatedUser.usertype}}</small>
          </div>
        </div>
        <hr class="bg-light">

        <div class="container">
          <!-- navigations -->
          <span class="btn-custom border navigation-items" (click)="showDasboardFun()"><i class="fas fa-columns pr-2 ml-4"></i>Dashboard</span>
          <span class="btn-custom border navigation-items" (click)="getDataOnclick('users')"><i class="fas fa-users pr-2 ml-4"></i>Users</span>
          <span class="btn-custom border navigation-items" (click)="getDataOnclick('recipes')"><i class="fas fa-book-open pr-2 ml-4"></i>Recipes</span>
          <span class="btn-custom border navigation-items" (click)="getDataOnclick('pendings')"><i class="fas fa-clock pr-2 ml-4"></i>Pendings</span>
          <span class="btn-custom border navigation-items" (click)="logout()"><i class="fas fa-sign-out-alt pr-2 ml-4"></i>Logout</span>
        </div>
      </div>

      <!-- ghost nav -->
      <div class="bg-custom-sidebar h-100 position-fixed custom-style-sidebar-ghost">
        <p class="text-center text-white" (click)="toggleSidebar()"><i class="fas fa-bars custom-style-x"></i></p>

        <div class="row">
          <div class="col-md-12 ml-3">
            <div class="img-container-ghost"  style="background-image:url(../../../../assets/img/default.png);background-size: cover;" routerLink="/user-profile">
              <!-- image here -->
            </div>
            <hr class="bg-light">
          </div>
        </div>
        <div class="container">
          <!-- navigations -->
          <span class="btn border navigation-items"><i class="fas fa-columns "></i></span>
          <span class="btn border navigation-items" (click)="getDataOnclick('users')" ><i class="fas fa-users "></i></span>
          <span class="btn border navigation-items" (click)="getDataOnclick('recipes')"><i class="fas fa-book-open "></i></span>
          <span class="btn border navigation-items" (click)="getDataOnclick('pendings')"><i class="fas fa-clock"></i></span>
          <span class="btn border navigation-items" (click)="logout()"><i class="fas fa-sign-out-alt "></i></span>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="content" [ngClass]="{'content-v2' : !showSideBar}">
      <strong>{{title}}</strong>
      <button class="btn btn-primary float-lg-right" routerLink="/add-recipe" *ngIf="title=='Recipes'" ><i class="fa fa-plus" aria-hidden="true"></i></button><br>
      <hr class="bg-secondary">
      <div class="container">

        <!-- when the admin button is clicked -->
        <div class="row" *ngIf="showDashboard">
          <div class="col-md-4 p-2">
            <div class="row border rounded bg-light">
              <div class="col-sm-6">
                <div class=" p-1 shadow-sm">
                  <div class="rounded-circle bg-dark circle py-4" (click)="getDataOnclick('users')">
                    <p class="text-center text-white">
                      <i class="fas fa-users fa-3x"></i><br>
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 border-top">
                <h2 class="text-center mt-4">{{usersLen}}</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="row border rounded bg-light">
              <div class="col-sm-6">
                <div class="p-1 shadow-sm">
                  <div class="rounded-circle bg-primary circle py-4" (click)="getDataOnclick('recipes')">
                    <p class="text-center text-white">
                      <i class="fas fa-book-open fa-3x">
                      </i><br>
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 border-top">
                <h2 class="text-center mt-4">{{recipesLen}}</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="row border rounded bg-light">
              <div class="col-sm-6">
                <div class="p-1 shadow-sm">
                  <div class="rounded-circle bg-success circle py-4" (click)="getDataOnclick('pendings')">
                    <p class="text-center text-white">
                      <i class="fas fa-clock fa-3x"></i><br>
                    
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 border-top">
                <h2 class="text-center mt-4">{{pendingsLen}}</h2>
              </div>
            </div>
          </div>
          <hr class="w-100 bg-secondary">
          <div class="container w-100 border">
            <h1 class="text-center">Top 5 Most Rated Recipes</h1>
            <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend"
            [colors]="chartOptions.colors"
            [grid]="chartOptions.grid"
          ></apx-chart>
          </div>
        </div>
        <!-- this for the tables -->
        <app-admin-table [data]="data" [tableTitle]="title" (changes)="getChanges($event)" *ngIf="!showDashboard"></app-admin-table>
      </div>
    </div>
  </div>
  </body>
</html>
