<div>
    <!--update Modal-->
    <!-- <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
          </div> -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Update User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary" role="alert">
                        <p>First Name: {{info.firstname}}</p>
                        <p>Last Name: {{info.lastname}}</p>
                        <div class="form-group">
                            <form [formGroup]="usertype" >
                            <label for="sel1">Update User Position:</label>
                            <select class="form-control" id="sel1" value="" formControlName="newUserType">
                                <option *ngFor="let pos of usertypes" [ngValue]="pos[1]" [selected]="info.usertype==pos[1]">{{pos[0]}}</option>
                            </select>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editUserStatus(info)">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- delete Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        Are you sure you want to delete this item?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="deleteData()" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Approve -->
    <div class="modal fade  " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recipe Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary" role="alert">
                        <p> <strong>Name:</strong> {{recipe.name}}</p>
                        <p> <strong>Category: </strong> {{recipe.category}}</p>
                        <p> <strong>Yield:</strong>  {{recipe.yield}}</p>
                        <p> <strong>Tag:</strong> {{recipe.tag}}</p>
                        <p> <strong> Description:</strong> {{recipe.description}}</p>
                        <p class="font-weight-bold">Ingredients:</p>
                        <p class="ml-3" *ngFor="let ingredient of recipe.ingredients; let number=index">{{number+1 + "." + 
                            ingredient}}</p>
                        <p class="font-weight-bold">Procedures:</p>
                        <p  class="ml-3" *ngFor="let procedure of recipe.procedures let num =index"> {{num+1 + "." + procedure}} </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="approveButton(recipe)" data-dismiss="modal">Approve</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="w-100" *ngIf="data.length > 0">
            <div class="row w-100">
                <div class="table-responsive-xl bg-light w-100">
                    <table class="table table-striped bg-white center">
                        <thead class="thead-dark">
                            <th colspan="4" class="text-center">{{tableTitle}} TABLE</th>
                            <tr>
                                <th scope="col-sm">Name</th>
                                <th scope="col-sm" *ngIf="!data[0].name">Position</th>
                                <th scope="col-sm" *ngIf="!data[0].lastname">Category</th>
                                <th scope="col-sm" *ngIf="!data[0].lastname && !data[0].status ">Description</th>
                                <th scope="col-sm" class="text-right px-5">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bits of data | paginate: { id: 'test',
                        itemsPerPage: 8,
                        currentPage: page,
                        totalItems: totalData}">
                                <td class="table-secondary">{{bits.name || bits.lastname}}</td>
                                <td class="table-secondary" *ngIf="!bits.name">{{bits.usertype}}</td>
                                <td class="table-secondary" *ngIf="!bits.lastname">{{bits.category}}</td>
                                <td class="table-secondary" *ngIf="!bits.lastname && !bits.status">{{epilsesLimit(bits.description)}}</td>

                                <td class="table-secondary">
                                    <button class="btn btn-danger float-right" data-toggle="modal" (click)="getData(bits)"
                                        data-target="#exampleModal1">Delete</button>

                                    <button type="submit" (click)="getUserData(bits)" *ngIf="( bits.lastname)"
                                        data-toggle="modal" data-target="#exampleModal" class="float-right btn btn-info mr-2">View</button>

                                    <a><button type="submit" (click)="editUserData(bits.id)" *ngIf="(!bits.lastname && bits.status)"
                                            data-toggle="modal"  class="float-right btn btn-info mr-2">Edit</button></a>

                                    <button type="submit" (click)="getRecipeData(bits)" *ngIf="( !bits.status && !bits.lastname )"
                                        data-toggle="modal" data-target="#exampleModal2" class="float-right btn btn-info mr-2">View</button>

                                    <!-- <button type="submit" (click)="approveButton(bits)" *ngIf="(!bits.status && !bits.lastname)"
                                    data-toggle="modal" class="float-right btn btn-success mr-2">Approve</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div [ngClass]="{hide: 1 > data.length}">
                    <pagination-controls id="test" maxSize:number="5" (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </table>
        <h2 class="text-center" *ngIf="!data.length">No {{tableTitle}} Data</h2>
    </div>