.content {
    margin-top: 80px;
    margin-left: 225px;
    /* border: #0066cc solid 4px; */
  }
  
  .content-v2 {
    margin-left: 85px;
  }
  
.card {
    margin-left: 3%;
    margin-right: 3%;
    width:300px;
    
    
}

.card-body {
    height: 80px;
   
}
.card img {
    margin-top:5px;
    height: 200px;
    width:100%;
}

.card-text{
    height: 500px;
}

#second-row {
    padding-top: 5%;
}

#third-row {
    padding-top: 5%;
}






