<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="viewrecipes.component.css">
</head>

<body>
  <div class="row">
    <div class="col-md-4 mt-5 cursor" *ngFor="let recipe of recipes" (click)="getRecipe(recipe.id)">
      <div class="card p-2">
        <img class="card-img-top" [src]="recipe.img_url" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{recipe.name}}</h5>
          <small class="text-bold">Category: {{recipe.category}}</small>
        </div>
        <div class="card-footer">
            <small class="text-muted">Uploaded by: {{recipe.user.firstname + " "+ " " + recipe.user.lastname}}</small>
          </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>