.logo{
    height: 5rem;
    width: 15rem;
}
img{
    height: 40rem;
}
.carousel-caption{
    background-color: gray;
    opacity:80%;
    width: max-content;

}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.card-img-top{
    height: 15rem;
}
/*search bar*/
.search-bar{
    position:inline;
}
