<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<div class="container"><br>
  <form [formGroup]="addRecipe">
    <h3 class="text-center" *ngIf="recipeId">Edit Recipe</h3>
    <h3 class="text-center" *ngIf="!recipeId">Add Recipe</h3>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlTextarea1">Name</label>
        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : addRecipe.get('name').touched && addRecipe.get('name').invalid}"
          placeholder="Recipe Name">
        <div *ngIf="addRecipe.get('name').touched && addRecipe.get('name').invalid" class="invalid-feedback">
          <p *ngIf="addRecipe.get('name').errors.required">Name of the recipe is required</p>
          <p *ngIf="addRecipe.get('name').errors.minlength">Name must be atleast 6 characters</p>
        </div>
      </div>
      <div class="col">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" formControlName="description" [ngClass]="{'is-invalid' : addRecipe.get('description').touched && addRecipe.get('description').invalid}"
          id="exampleFormControlTextarea1" rows="1">



          </textarea>
        <div *ngIf="addRecipe.get('description').touched && addRecipe.get('description').invalid" class="invalid-feedback">
          <p *ngIf="addRecipe.get('description').errors.required">Description of the recipe is required</p>
          <p *ngIf="addRecipe.get('description').errors.minlength">Description must be atleast 25 characters</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlTextarea1">Yield</label>
        <input type="number" class="form-control" formControlName="yield" [ngClass]="{'is-invalid' : addRecipe.get('yield').touched && addRecipe.get('yield').invalid}"
          placeholder="Yield ">
        <div *ngIf="addRecipe.get('yield').touched && addRecipe.get('yield').invalid" class="invalid-feedback">
          <p *ngIf="addRecipe.get('yield').errors.required">This field is required</p>
        </div>
      </div>
      <div class="col">
        <label for="exampleFormControlTextarea1">Category</label>
        <select class="custom-select my-1 mr-sm-2" formControlName="category" [ngClass]="{'is-invalid' : addRecipe.get('category').touched && addRecipe.get('category').invalid}">
          <option value="soup" selected>Soup</option>
          <option value="breakfast">Breakfast</option>
          <option value="desert">Dessert</option>
        </select>

      </div>
    </div><br>
    <div class="form-row" id="buttons">
      <div class="col">
        <button type="button" class="btn alert-primary" data-toggle="modal" data-target="#viewIngredient">Add
          Ingredient</button>
      </div>
      <div class="col">
        <button type="button" class="btn alert-danger" data-toggle="modal" data-target="#viewProcedure"> Add Procedure</button>
      </div>
    </div><br>
    <br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="img_url" [ngClass]="{'is-invalid' : addRecipe.get('img_url').touched && addRecipe.get('img_url').invalid}"
          placeholder="Image URL">
        <div *ngIf="addRecipe.get('img_url').touched && addRecipe.get('img_url').invalid" class="invalid-feedback">
          <p *ngIf="addRecipe.get('img_url').errors.required">This field is required</p>
        </div>
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="tag" [ngClass]="{'is-invalid' : addRecipe.get('tag').touched && addRecipe.get('tag').invalid}"
          placeholder="Tag">
        <div *ngIf="addRecipe.get('tag').touched && addRecipe.get('tag').invalid" id="procedures-feedback" class="invalid-feedback">
          <p *ngIf="addRecipe.get('tag').errors.required">This field is required</p>
          <p *ngIf="addRecipe.get('tag').errors.minlength">Tags must be atleast 5 characters</p>
        </div>
      </div>
    </div><br>
    <button class="btn btn-info editAll" *ngIf="recipeId" [disabled]="isEditRecipe">Edit Recipe</button>
    <button class="btn btn-danger cancel" *ngIf="recipeId" routerLink="/admin">Cancel</button>


    <button type="submit" class="btn btn-primary saveAll" [hidden]="!isRecipeSave" *ngIf="!recipeId" (click)="onSubmit(addRecipe.value)"
      [disabled]="addRecipe.invalid">Save
      Recipe</button>
    <button class="btn btn-primary loadingSave" type="button" [hidden]="isRecipeSave">
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Please wait...
    </button>
    <button class="btn btn-danger cancel" *ngIf="!recipeId" routerLink="/admin">Close</button>
    <div><br><br><br>
      <span></span>
      <span>
        <p></p>
      </span>
    </div>


    <!-- View Ingredient Modal -->
    <div class="modal fade" id="viewIngredient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">List of Ingredients</h5>
          </div>
          <div class="modal-body">
            <div class="list-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of ingredientsArray">
                    <td>{{data}}</td>
                    <td>
                      <button type="submit" class="btn alert-danger btn-sm" (click)="removeIngredientItem(data)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="input-group ">
            <input type="text" class="form-control ingredientInput" formControlName="ingredients" #ingredients
              [ngClass]="{'is-invalid' : addRecipe.get('ingredients').touched && addRecipe.get('ingredients').invalid}"
              id="lingling" placeholder="Ingredient">
            <div class="input-group-append">
              <button class="btn alert-success mr-3 " [disabled]="ingredients.value.length < 3" type="submit" (click)="addIngredients()">Add</button>
            </div>
            <div *ngIf="addRecipe.get('ingredients').touched && addRecipe.get('ingredients').invalid" id="ingredients-feedback"
              class="invalid-feedback">
              <p *ngIf="addRecipe.get('ingredients').errors.required">This field is required</p>
              <p *ngIf="addRecipe.get('ingredients').errors.minlength">Ingredient must be atleast 3 characters</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="margin-right: 25px;" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- View Procedure Modal -->
    <div class="modal fade" id="viewProcedure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Procedures</h5>
          </div>
          <div class="modal-body">
            <div class="procedure-list">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Procedure</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of proceduresArray">
                    <td>{{data}}</td>
                    <td>
                      <button type="submit" class="btn alert-danger btn-sm" (click)="removeProcedureItem(data)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="input-group ">
            <input type="text" class="form-control ingredientInput" formControlName="procedures" #procedures [ngClass]="{'is-invalid' : addRecipe.get('procedures').touched && addRecipe.get('procedures').invalid}"
              id="procedure" placeholder="Procedure">
            <div class="input-group-append">
              <button class="btn alert-success mr-3 " type="submit" [disabled]="procedures.value.length < 4" (click)="addProcedure()">Add</button>
            </div>
            <div *ngIf="addRecipe.get('procedures').touched && addRecipe.get('procedures').invalid" id="ingredients-feedback"
              class="invalid-feedback">
              <p *ngIf="addRecipe.get('procedures').errors.required">This field is required</p>
              <p *ngIf="addRecipe.get('procedures').errors.minlength">Procedure must be atleast 4 characters</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="margin-right: 25px;" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>