.container {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    margin-top: 80px;
    height: -60%;
}

.btn {
  width: 90%;
  margin-left: 5%;
}

.saveAll{ 
    width: 30%;
    margin-left: 35%;
    border-radius: 2%;   
}

.editAll{ 
  width: 30%;
  margin-left: 35%;
  border-radius: 2%;   
}

.cancel{
  margin-top: 5px; 
  width: 30%;
  margin-left: 35%;
  border-radius: 2%;   
}

.list-body{
  overflow: auto;
  height: 200px;
}

.list-body::-webkit-scrollbar {
  display: none;
}


.procedure-list{
  overflow: auto;
  height: 200px;
}

.procedure-list::-webkit-scrollbar {
  display: none;
}

#ingredients-feedback {
  margin-left: 15px;
}



.ingredientInput{
  margin-left: 2%;
}

.modal-footer{
  margin-top: 5px
}

#exampleFormControlTextarea1{
  min-height: 38px;
  max-height: 80px;
}


#exampleFormControlTextarea1::-webkit-scrollbar {
  display: none;
}

