  <div class="col-12 top">
    <div class="card-recipe text-center my-5">
      <div class="card-header">
        <h3>Mango and turmeric coconut yoghurt soft serve [sample recipe]</h3>
        <small>By: Phoebe Wood [owner of the recipe]</small>
      </div>

      <div class="row">
        <div class="col mt-2">
          <img class="card-img-top" src="../../../../assets/img/recipe/soup2.jpg" alt="">
          <div class="text-left mt-3 ml-5 py-3">
            <h4>Ingredients: </h4>
            <p>3 mangoes, peeled, flesh chopped</p>
            <p>1kg dairy-free coconut yoghurt</p>
            <p> 1 tbs ground turmeric, plus extra to serve</p>
            <p> 1/4 cup (60ml) maple syrup</p>
            <p>1 tsp vanilla bean paste</p>
          </div>
        </div>
        <div class="col mr-5 mt-5">
          <div class="text-left">
            <h4>Instructions:</h4>
            <p>1.) <br> Whiz the mango in a blender until smooth. Place mango in a bowl with all remaining ingredients
              and
              whisk
              to combine. Transfer the mixture to an ice cream machine and churn according to manufacturer’s
              instructions
              until a soft serve consistency. (Alternatively, pour into a shallow container and freeze for 2 hours or
              until frozen at edges. Remove from freezer and beat with electric beaters. Return to container and
              refreeze.
              Repeat the process until a soft serve consistency).</p>
            <p>2.) <br> Spoon soft serve into a piping bag, fitted with a 2cm nozzle, and pipe into four 11/2 cup
              (375ml)
              glasses. Scatter with a little extra turmeric and serve immediately.</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <input class="form-control" placeholder="Write your comment here...">
          </div>
          <div class="col">
            <div class="col-sm-12">
              <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index"
                style="display: inline-block">
                <li (click)="countStar(star)" id="{{'starId'+i}}" [ngClass]="{'selected': (star <= selectedValue)}"
                  (mouseover)="addClass(star)" (mouseout)="removeClass(star)"> <i class="fa fa-star"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
